footer#fh5co-footer(role="contentinfo")
  .container
    .row.row-pb-md
      .col-md-3.fh5co-widget
        h4 #{footerTitle}
        p #{footerDecription}
      .col-md-2.col-sm-4.col-xs-6.col-md-push-2
        h4 Learn &amp; Grow
        ul.fh5co-footer-links
          li
            a(href="#") Word to Word Classes
      .col-md-2.col-sm-4.col-xs-6.col-md-push-2
        h4 Engage us
        ul.fh5co-footer-links
          li
            a BBQ
      .col-md-2.col-sm-4.col-xs-6.col-md-push-2
        h4 Legal
        ul.fh5co-footer-links
          li
            a Legal Service
    .row.copyright
      .col-md-12.text-center
        p.block &copy; 2016 MINA. All Rights Reserved.
        p.block Designed by
          a(href="http://fareezahmed.com/", target="_blank") &nbspFareez Ahmed
        div
          ul.fh5co-social-icons
            li
              a(href=facebookUrl)
                i.icon-facebook
            li
              a(href=twitterUrl)
                i.icon-twitter
            li
              a(href=linkedinUrl)
                i.icon-linkedin
