include ../content/head.pug

head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible",content="IE=edge")
  title #{title}
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(name="description", content=metaDescription)
  meta(name="keywords", content=keywords)
  meta(name="author", content=author)
  link(rel="icon", type="image/png",  href=titleLog)
  //-- Facebook and Twitter integration --
  meta(property="og:title", content=title)
  meta(property="og:image", content=image)
  meta(property="og:url", content=url)
  meta(property="og:site_name", content=title)
  meta(property="og:description", content=metaDescription)
  meta(name="twitter:title", content=title)
  meta(name="twitter:image", content=image)
  meta(name="twitter:url", content=url)
  meta(name="twitter:card", content=card)
  link(href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800", rel="stylesheet")
  link(rel="stylesheet", href="css/animate.css")
  link(rel="stylesheet", href="css/icomoon.css")
  link(rel="stylesheet", href="css/bootstrap.css")
  link(rel="stylesheet", href="css/magnific-popup.css")
  link(rel="stylesheet", href="css/owl.carousel.min.css")
  link(rel="stylesheet", href="css/owl.theme.default.min.css")
  link(rel="stylesheet", href="css/style.css")
  link(rel="stylesheet", href="css/main.css")
  script(src="js/modernizr-2.6.2.min.js")
